/* THIS STYLESHEET IS FOR 2-COLUMN LAYOUTS */
* { box-sizing: border-box; top: 0; left: 0; }

input[type="search"] { height: 38px; margin: 6px 0; border-radius: 19px; }

input[type="submit"], a{ transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; }

form label{ width: 14%; margin: 1%; }

form input{ z-index: 0; width: 80%; background-color:#eeeeee; border-radius:5px; }

select, input[type="text"], input[type="password"], input[type="phone"], input[type="email"]{ width: 82%; margin: 1%; padding: 1%; }

select { min-width: 100%; width: 100%; top: 0; left: 0; text-align: justify; float: center; border-radius: 5px; background-color:#eeeeee; }

input[type="submit"]{ background-color: #004300; color: #a1a1a1; box-shadow: -3px 2px 5px #aa7; border-radius: 5px; padding: 1.5%; margin: 50px 0; }

input[type="submit"]:hover{ background-color: #222; color: #B2D4B2; box-shadow: -4px 4px 6px #aa7; padding: 1.6%; }

a:active, input[type="submit"]:active{ background-color: #008700ee; color: white; box-shadow: -2px 1px 3px #B2D4B2; border-radius: 8px; padding: 2%; }

/* Style the sticky top dropdown navigation links */

nav li input[type="button"] { background-color:#004300; color: #f2f2f2; padding: 8px 0; margin:0; height: 50px; border-radius: 2.5px; text-decoration: none; display: block; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; }

nav li input[type="button"]:hover { background-color: #f2f2f2; color: #004300; transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; }

/* Change properties of page navigation buttons */

#myProgress { width: 100%; background-color: white; }

#progressBar { width: 1%; height: 30px; padding: 10px; background-color: #004300; }

#footerDiv { display: none; z-index: 1000; }

#back, #next { display: inline-block; }

.nav { text-align: center; }

/* Create two unequal columns that floats next to each other */
/* Main column */
.mainColumn { float: left; width: 65%; padding: 1%; }

/* Right column */
.rightColumn { float: left; width: 35%; padding: 1%; }

.picture { height: 100px; }

.largepicture { height: 200px; }

.sendSection{ text-align: center; }

.additionalTxt{ text-align: center; }

.required-group { border: 1px solid #ff1234; border-radius: 3px; }

/* Set sticky trade rate bar properties */
.upperbar { display: inline-flex; position: fixed; float: center; z-index: 1000; top: 0; left: 0; width: 100%; height: 50px; margin: 0; padding: 16px 0px; font-size: 16px; font-family: Garamond; background-color: #004300; border-radius: 0.5px; box-shadow: -1px 5px 3px #232; }

.close-upper { border-radius: 40%; background: #fefefe; color: #004300; padding: 2px; width: auto; margin-right: 1%; }

.open-upper { border-radius: 40%; background: #004300; color: #fefefe; padding: 0px 2px 18px 4px; width: auto; margin-right: 1%; }

.sticky { position: fixed; top: 50px; left: 0; width: 99%; height: 50px; margin: 0% 0.5%; padding: 0; }

.sticky2 + .row, .sticky + .row { padding-top: 100px; }

.sticky2 { position: fixed; top: 0; left: 0; width: 99%; height: 50px; margin: 0% 0.5%; padding: 0; }

.collapse a, .collapse input[type="button"] { height: auto; max-height: 30px; width: 100%; font-size: 12px; }

.dropdown-submenu { position: relative; }

.dropdown-submenu .dropdown-menu { top: 0; left: 100%; margin-top: -1px; }

/* Set container properties */
.row { margin: 0.5%; width: 99%; height: 100%; }

/* Clear floats after the columns */
.row:after, .footer:after { content: ""; display: table; clear: both; }

/* Footer */
.footer a { padding: 0; margin: 0% 1%; color: #a1a1a1; text-align: justify;  }

.footer a:hover { margin: 0% 1.1%; color: #B2D4B2; text-decoration: none; }
	
/* Width set at 25% ensures the footer has 4 sections on default */
.footerCard { float: left; text-align: justify; padding: 0 2%; font-size: 90%; width: 25%; height: 547px; }

.footerCard blockquote { font-size: 70%; }

.footer h6 { text-align: center; }

.clearnav { box-shadow: none; text-shadow: none; margin: 0; padding: 0; left: 0; top: 0; content: ""; display: table; clear: both; }

/* Responsive layout - when the screen is less than 1200px wide, make the two leftmost columns stack side by side and on top of the third */
@media screen and (max-width: 1200px) {
	/* Set container properties */
	form label{ width: 15%; margin: 1%; }
	
	select, form input{ background-color:#eeeeee; border-radius: 5px; }

	select, input[type="text"], input[type="password"], input[type="phone"], input[type="email"]{ width: 81%; margin: 1%; }

	input[type="submit"]{ background-color: #004300; color: #a1a1a1; box-shadow: -3px 3px 2px #aa7; border-radius: 3px; padding: 4px; }
	
	.mainColumn { float: left; width: 65%; padding: 0.5%; } .rightColumn { float: left; width: 35%; padding: 0.5%; }
	
	.footerCard { font-size: 90%; width: 25%; height: 547px; font-size: 90%; }
	
	.row { width: 99%; margin: 0.5%; }
	
	.footer a { margin: 0.5% 1.6%; }
}

/* Responsive layout - when the screen is less than 800px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) { 
	#backbar, #nextbar, #topnav a { z-index: 1000; } 
	
	#back, #next{ float: none; height: 50px; padding: 0%; width: 100%; } #footerDivTexts { color: white; text-align: justify; float: justify;  font-size: 99%; } 
	
	#footerDiv { display: block; position: fixed; top: 70%; left: 0; width: 100%; height: 30%; margin: 0; padding: 5%; background-color: #004300; color: white; font-size: 60%; z-index: 1000; }
	
	#footerDivHeader { font-size: 100%; } #close { display: block; color: #004300; border-radius: 10px; float: right; }
	
	.mainColumn, .rightColumn { position: relative; float: none; left: 0; padding: 0; width: 100%; height: auto; }
	
	.footerCard { font-size: 80%; width: 25%; height: 547px; font-size: 80%; }
	
	.row { width: 99%; margin: 0.5%; }
	
	.footer a { margin: 0.5% 1.2%; }
}

/* Responsive layout - when the screen is less than 480px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) { 
	#backbar, #nextbar, #topnav a { z-index: 1000; } 
	
	#back, #next, #topnav { float: none; height: 50px; padding: 0%; margin: 0; }
	
	#back, #next { width: 100%; }
	
	#topnav { width: 99%; margin: 0% 0.5%; } 
	
	#footerDivTexts { text-align: center; float: center; font-size: 98%; }
	
	/* Set labels and inputs */
	select, form input{ border-radius: 5px; } 
	
	select, input[type="text"], input[type="password"], input[type="phone"], input[type="email"], label{ width: auto; z-index: 0; }

	input[type="submit"]{ background-color: #004300; color: #a1a1a1; box-shadow: -5px 5px 3px #aa7; border-radius: 3px; }
	
	.footerCard { width: 33%; height: 547px;  }
	
	.row { width: 99%; margin: 0.5%; }
	
	.footer a { margin: 0.5% 0.8%; font-size: 80%; }
	
	.warning { display: none; }
}

/* Responsive layout - when the screen is less than 345px wide, make the footer cards smaller so as to fit into container frame */
@media screen and (max-width: 345px) { 	
	/* Set labels and inputs */
	form label{ width: 18%; margin: 1%; }
	
	select, form input{ background-color: #eeeeee; border-radius: 5px; } 

	select, input[type="text"], input[type="password"], input[type="phone"], input[type="email"]{ width: 78%; margin: 1%; }

	input[type="submit"]{ background-color: #004300; color: #a1a1a1; box-shadow: -3px 3px 2px #aa7; border-radius: 3px; padding: 3px; }
	
	.footerCard { width: 33%; height: 527px; }
	
	.row { width: 99%; margin: 0.5%; }
	
	.footer a { margin: 0.5% 1.2%; font-size: 70%; }
	
	.warning { display: none; }
}